node_modules

dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

.env
.env.test
.env.local

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/

package-lock.json

coverage/
jest-coverage/

tmp/
temp/
node_modules/
